<%= render partial: "index_banner" %>
<%= render partial: "services" %>
<%= render partial: "testimonials" %>

<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "background2.jpg" %>
  </div>
</div>

<%= render partial: "home_about" %>

